@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path-square-hidden {
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.clip-path-square-left-hidden {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.clip-path-square-top-hidden {
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.clip-path-square-bottom-hidden {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.clip-path-square-visible {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.clip-path-circle-hidden {
  clip-path: circle(2.9% at 50% 50%);
}

.clip-path-btn-left {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.clip-path-btn-right {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.clip-path-rhombus {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
